:root {
  --font-family: 'Manrope', sans-serif;
  --primary: #2c97c0;
  --secondary: #19638b;
  --accent: #07334f;

  --text-primary-color: #F1F1F1;
  --text-secondary-color: #797979;

}


[data-theme="dark"] {

}

